:root {
  font-size: 62.5%;
  --color-1: #ffaf87;
  --color-2: #ff8e72;
  --color-3: #ed6a5e;
  --color-4: #4ce0b3;
  --color-5: #377771;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--color-5);
  font-size: 5.5rem;
  color: var(--color-1);
  padding: 1rem 0;
  text-align: center;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url('gallery.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45rem;
  text-align: center;
}

.hero-text-container {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  color: var(--color-2);
}

.hero-title {
  font-size: 3rem;
}

.hero-description {
  font-size: 2rem;
}

.tour {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 20rem;
  font-size: 4rem;
  background-color: var(--color-5);
}

.cta-button,
.cta-button:visited {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-1);
  border: 2px solid var(--color-1);
  padding: 1rem;
  border-radius: 5px;
}

.cta-button:active,
.cta-button:hover {
  color: var(--color-3);
  border: 2px solid var(--color-3);
}

.cta-button:active {
  transform: translateY(0.5rem);
}

.gallery {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 20rem;
  font-size: 4rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background-color: var(--color-5);
  color: var(--color-1);
}

@media screen and (max-width: 600px) {
  header {
    font-size: 3rem;
  }

  .hero {
    height: 25rem;
  }

  .hero-title {
    font-size: 2rem;
  }

  .hero-description {
    font-size: 1.25rem;
  }

  .tour {
    height: 10rem;
    font-size: 2rem;
  }

  .gallery {
    height: 10rem;
    font-size: 2rem;
  }

  footer {
    font-size: 1.75rem;
  }
}
